body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#downloadLatestVersionBtn {
    background-color: orange;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: scaleUp 0.5s ease-in-out;
}

#downloadLatestVersionBtn:hover {
    background-color: darkorange;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}